<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %> 
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <br>
  <div>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </div>
  <%= render "follow_form" if logged_in? %>
  <% if current_user.admin? && !current_user.current_user?(@user) %>
    <%= link_to t("button.delete"), admin_user_path(@user),
      method: :delete, data: {confirm: t("confirm_delete")}, class: "btn btn-danger" %> 
  <% end %>
</div>
