<div class="col-md-6">
  <h1><%= t "index.all_trainee" %></h1>
  <% @trainees.each do |user| %>
    <li>
      <%= link_to user.name, "#" %>
      <%= link_to t("button.delete"), [:admin, user], method: :delete,
        data: {confirm: t("confirm_delete")}, class: "btn btn-primary" %>
    </li>
  <% end %>
</div>
<div class="col-md-6">
  <h1><%= t "index.all_supervisor" %></h1>
  <% @supervisors.each do |supervisor| %>
    <li>
      <%= link_to supervisor.name, "#" %>
      <%= link_to t("button.delete"), [:admin, supervisor], method: :delete,
        data: {confirm: t("confirm_delete")}, class: "btn btn-primary" %>
    </li>
  <% end %>
</div>
